eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/
spring:
  application:
    name: gateway
server:
  port: 8084
  context-path: /zuul
zuul:
  routes:
    api1: /api1/hello/greeting/**
    api2: /api2/greeting/hello/**